Flask==0.10.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-WTF==0.10.3
IP2Location
Jinja2==2.7.3
Markdown==2.5.2
MarkupSafe==0.23
Pygments==2.7.4
SQLAlchemy==0.9.8
Unidecode==0.04.16
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
arrow==0.4.4
astral==0.7.4
astroid==1.2.1
blinker==1.3
bpython==0.13.1
django-nvd3==0.7.7
docutils==0.12
fancycompleter==0.4
feedgenerator==1.7
flake8==2.2.5
flask-heroku==0.1.9
geoip2==2.0.2
geolocate==1.1.0
ghp-import==0.4.1
gunicorn==19.1.1
http==0.02
httplib2==0.9
ipaddr==2.1.11
itsdangerous==0.24
logilab-common==0.63.0
lxml==3.4.0
maxminddb==1.0.0
mccabe==0.2.1
netifaces==0.10.4
parse==1.6.5
pbkdf2==1.3
pdbpp==0.7.2
pelican==3.5.0
pelican-social==0.1.1
pep8==1.5.7
pyephem==3.7.5.3
pyflakes==0.8.1
pygeoip==0.3.2
pylint==1.3.1
pyowm==2.0.0
pyperclip==1.5.7
pyrepl==0.8.4
python-dateutil==2.2
python-forecastio==1.3.1
python-networkmanager==0.9.12
python-nvd3==0.13.5
python-slugify==0.0.9
pytz==2014.9
requests==2.4.3
six==1.8.0
smartypants==1.8.6
twilio==3.6.9
typogrify==2.0.7
urllib3==1.9.1
virtualenv==12.0.5
wifi==0.3.4
wmctrl==0.1
wsgiref==0.1.2
