<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather Watch</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
</head>


<body>
<h1>WEATHER WATCH! for schools</h1>
<div id="headerbox">
    	<table>
        <tr>
            <td>
                {%if html_flag == '0'%}
        		  We detected your location <br><span class="filler">{{html_filler}}</span>
        	    {% elif html_flag =='1' %}
                  Results for your search for <br><span class="filler">{{html_filler}}</span>
                {% elif html_flag == '2' %}
                  Welcome <span class="filler">{{html_filler}}</span>
        	    {%endif%}
            </td>
            <td>
                <form  action="/search" method="POST">
                    <a href="/search" class="myButton">Change location!</a>
                </form>
                <br><br>
                <form action="/school_info", method="GET">
                    <a href="/school_info" class="myButton">Register my school</a>
                </form>
            </td>
        </tr>
        </table>
</div>


{% block content %}{% endblock %}
</body>
</html>