<html>
    <form action="\school_info" method = "post">
        <h1>
            <strong>Info about your school</strong>
        </h1>
        <table>
            <tr>
                <td>
                    {{form.school_name.label}}: 
                </td>
                <td>
                    {{form.school_name}}
                </td>
                <td>
                    {{form.user_name.label}}
                </td>
                <td>
                    {{form.user_name}}
                </td>
            </tr><tr></tr>
            <tr>
                <td>
                    {{form.first_name.label}}: 
                </td>
                <td>
                    {{form.first_name}}
                </td>
                <td>
                    {{form.last_name.label}}: 
                </td>
                <td>
                    {{form.last_name}}
                </td>
            </tr><tr></tr>
            <tr>
                <td>
                    {{form.city.label}}: 
                </td>
                <td>
                    {{form.city}}
                </td>
                <td>
                    {{form.state.label}}: 
                </td>
                <td>
                    {{form.state}}
                </td>
            </tr><tr></tr>
            <tr>
                <td>
                    {{form.country.label}}: 
                </td>
                <td>
                    {{form.country}}
                </td>
                <td>
                    {{form.postal.label}}: 
                </td>
                <td>
                    {{form.postal}}
                </td>
            </tr><tr></tr>
            <tr>
                <td>
                    {{form.email.label}}: 
                </td>
                <td>
                    {{form.email}}
                </td>
                <td>
                    {{form.cellphone.label}}: 
                </td>
                <td>
                    {{form.cellphone}}
                </td>
            </tr><tr></tr>
                <td></td>
                <td>
                    {{form.send_email}}{{form.send_email.label}} 
                </td>
                <td>
                    {{form.send_text}}{{form.send_text.label}}
                </td>
            </tr><tr></tr>
        </table>
        <input type='submit' value='Submit'>
    </form>
</html>