<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather Watch</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
</head>
<h1>WEATHER WATCH! for schools</h1>

Search for weather for your school!
<body>
	<form name = 'searchby', method = 'post', action ="/">
		<table class="Table_SearchForm">
<!-- 		  <col width="150" height="70">
		  <col width="600" height="70"> -->
			<tr>
				<td>
					Zip Code (US only):
				<td>
					{{form.zipcode(style="width: 300px; height: 20px;", placeholder='zip code')}}
				</td>
				<td>
					<div>{{form.submit_zip(style="width: 200px;",class="Search_Button")}}</div>
				</td>
			</tr>
<br><br>
			<tr>
				<td>
					Place:
				</td>
				<td>
					{{form.country(style="width: 300px; height: 20px;" ,placeholder='country')}} <br><br>
					{{form.state(style="width: 300px; height: 20px;",placeholder='region/ state')}}<br><br>
					{{form.city(style="width: 300px; height: 20px;",placeholder='city')}}
				</td>
				<td>
					<div>{{form.submit_place(style="width: 200px;",class="Search_Button")}}</div>
				</td>
			</tr>
<br><br>
			<tr>
				<td>
					Your Account:
				</td>
				<td>
					{{form.user_name(style="width: 300px; height: 20px;", placeholder='user name')}} 
				</td>
				<td>
					<div>{{form.submit_user(style="width: 200px;",class="Search_Button")}}</div>
				</td>
			</tr>
		</table>
		<br><br>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
	      <font color = 'red'>{{ message }}</font>
	    {% endfor %}
		{%endif%}
		{% endwith %}
	</form>
</body>
