<h2>
	Search for weather in :
</h2>

<form action ="">
	<table>
		<tr>
			<td> <input type = "radio" name = 'searchby' value = 'postal'><b>Search by Postal/ Zip Code:'</b></td>
			<td> postal/ zip <input type = 'text' name = 'postal'></td>
		</tr>
		<tr>
			<td> <input type = "radio" name = 'searchby' value = 'place'><b>Search by Country/ State/ City:</b></td>
			<td> country  <input type = 'text' name = 'country'>
				 state  <input type = 'text' name = 'state'>
				 city <input type = 'text' name = 'city'></td>
		<tr>
			<td> <input type = "radio" name = 'searchby' value = 'code'><b>Search by CECE code:</b></td>
			<td> CECE code <input type = 'text' name = 'code'></td>
		</tr>
	</table>
	<br><br>
	<input type = 'submit' name = 'Find my weather!'>

</form>