<!doctype html>


<head>
	<h1>
		WEATHER WATCH!
	</h1>
</head>
<body>
	<form name = 'searchby', method = 'post', action ="/">
		<table>
		  <col width="150" height="20">
		  <col width="600">
			<tr>
				<td>
					Zip Code (US only):
				<td>
					{{form.zipcode(placeholder='zip code')}}
				</td>
				<td>
					{{form.submit_zip}}
				</td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					Place:
				</td>
				<td>
					{{form.country(placeholder='country')}} 
					{{form.state(placeholder='region/ state')}}
					{{form.city(placeholder='city')}}
				</td>
				<td>
					{{form.submit_place}}			
				</td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					Your Account:
				</td>
				<td>
					{{form.user_name(placeholder='user name')}} 
				</td>
				<td>
					{{form.submit_user}}
				</td>
			</tr>
		</table>
		<br><br>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
	      <font color = 'red'>{{ message }}</font>
	    {% endfor %}
		{%endif%}
		{% endwith %}
	</form>
</body>