<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather Watch</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
</head>

{% extends "firstpage.html" %}
{% block content %}
<br>
<div id ="mainbox">
	<mainbox class = "weather_header">
	Weather for <font color = "red">{{place}} </font>for school hours on 
	<font color = "red">{{display_date}}</font>: </mainbox>


		<table class = "weather">
			<tr>
				<th class = "columnborder">time</th>
				<th> icon</th>
				<th>temperature</th>
				<th>windspeed</th>
				<th class = "columnborder">windchill</th>
				<th>precip</th>
				<th>precip probability</th>
				<th class = "columnborder">precip intensity</th>
				<th>playability</th>
			</tr>
			{% for hour in hourly %}
	        <tr>
				<td class="columnborder"><b>{{hour.hour}}</b>	</td>
				<td class="graybox">
					<img src={{hour.icon_png}} alt="yellow" height="25" width="25"></td>
				<td class="whitebox">{{hour.temperature}}</td>
				<td class="whitebox">{{hour.windspeed}}</td>
				<td class = "columnborder"><b>{{hour.windchill}}</b></td>
				<td class="whitebox">{{hour.precipType}}</td>
				<td class="whitebox">{{hour.precipProbability}}</td>
				<td class="columnborder">{{hour.precipIntensity}}</td>
				<td class="graybox">
				{%if hour.playability == 'red'%}
	        	  <svg height="30" width="30">
  				  <circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="red" />
 				  </svg>
	        	{%elif hour.playability == 'yellow'%}
	        	  <svg height="30" width="30">
  				  <circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="yellow" />
 				  </svg>
	        	{%elif hour.playability == 'green'%}
	        	  <svg height="30" width="30">
  				  <circle cx="20" cy="20" r="10" stroke="white" stroke-width="1" fill="green" />
 				  	</svg>
	        	{%endif%}
					</td>
			</tr>
		    {% endfor %}
	   	</table>
</div>


{% endblock content %}


<!-- red circle &#x1f534 -->